<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %7.36logger - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="FILE-ENGINE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${cresco.logs.path}/engine.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %7.36logger - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${cresco.logs.path}/engine/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FILE-PLUGINS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${cresco.logs.path}/plugins.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %7.36logger - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${cresco.logs.path}/plugins/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FILE-ROUTING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${cresco.logs.path}/routing.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %7.36logger - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${cresco.logs.path}/routing/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FILE-LOGGING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${cresco.logs.path}/log-messages.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %7.36logger - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${cresco.logs.path}/log-messages/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="FILE-AGENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${cresco.logs.path}/root.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %7.36logger - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${cresco.logs.path}/root/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger name="Engine" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ENGINE" />
	</logger>

	<logger name="Plugins" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-PLUGINS" />
	</logger>

	<logger name="MsgRoute" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-ROUTING" />
	</logger>

	<logger name="Logging" level="trace" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-LOGGING" />
	</logger>

	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AGENT" />
	</root>

</configuration>